<!DOCTYPE html>
<html>
  <head>
    <title>HYDE STOP MOTION</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>HYDE STOP MOTION</h1>
    <p><a href="http://kool-animation.com/download">Download</a>
    <br/> Version <%= version %></p>
    <p><%= description %></p>
  </body>
</html>
