<h1> Hyde Stop Motion (<%= hydeactivities.length %>)</h1>
<% if (!hydeactivities.length) { %>
	<b> No Activities ! </b>
	<br><br>
	<% } else { %>
	<table>
			<tr>
				<td width=80><b>IP : </b></td>
				<td width=80><b>Country : </b></td>
				<td width=80><b>Region : </b></td>
				<td width=80><b>City : </b></td>
				<td width=80><b>Long Lat : </b></td>
				<td width=80><b>Last connection : </b></td>
				<td width=80><b>Connections : </b></td>
				<td width=80><b>Version : </b></td>
				<td width=80><b>System : </b></td>
			</tr>
		<% hydeactivities.forEach(function(hydeactivity) { %>
			<tr>
				<td width=100><%= hydeactivity.ip%></td>
				<td width=100><%= hydeactivity.country%></td>
				<td width=100><%= hydeactivity.region%></td>
				<td width=100><%= hydeactivity.city%></td>
				<td width=100><%= hydeactivity.ll%></td>
				<td width=100><%= hydeactivity.date%></td>
				<td width=100><%= hydeactivity.connections%></td>
				<td width=100><%= hydeactivity.version%></td>
				<td width=100><%= hydeactivity.system%></td>
			</tr>
		<% }); %>
	</table>
	<% } %>